{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/logo.png' %}"/>

        <div id="welcome-message">
            <h1> Welcome to MkChat</h1>
            <p> A Group video calling session for us!</p>
        </div>

        <form id="form">
            <div class="form-field">
                <input type="text" name="room" placeholder="Enter a room Name .." styles="text-transform:uppercase;"/>
            </div>

            <div class="form-field">
                <input type="text" name="username" placeholder="Enter a Name .." styles="text-transform:uppercase;"/>
            </div>

            <div class="form-field">
                <input type="submit" value="Join Stream"/>
            </div>

        </form>
    </section>

</main>

<script type="text/javascript" src="{% static 'js/lobby.js' %}"> </script>
{% endblock content %}